<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafe">

	<select id="getCount" parameterType="cafeDto" resultType="int">
		select nvl(max(rownum),0)
		from board_cafe
		<choose>
			<when test="title != null and content != null">
				<!-- '%'||#{title}||'%'   '%${title}%' 은 똑같은 내용을 의미한다-->
				where title like '%'||#{title}||'%' or content like '%${content}%'
			</when>
			<when test="title != null">
				where title like '%${title}%'
			</when>
			<when test="writer != null">
				where writer like '%${writer}%'
			</when>
		</choose>
	</select>
	
	<select id="getList" parameterType="cafeDto" resultType="cafeDto">
		select *
		from
			(select result1.*,rownum as rnum
			from
				(select num,writer,title,content,viewCount,to_char(regdate, 'yyyy"년"mm"월"dd"일" hh24"시"mi"분"') as regdate
				from board_cafe
				<choose>
					<when test="title != null and content != null">
						<!-- '%'||#{title}||'%'   '%${title}%' 은 똑같은 내용을 의미한다-->
						where title like '%'||#{title}||'%' or content like '%${content}%'
					</when>
					<when test="title != null">
						where title like '%${title}%'
					</when>
					<when test="writer != null">
						where writer like '%${writer}%'
					</when>
				</choose>
				order by num desc) result1)
		where rnum between #{startRowNum} and #{endRowNum}
	</select>
	
	<insert id="insert" parameterType="cafeDto">
		insert into board_cafe
		(num,writer,title,content,viewCount,regdate)
		values(board_cafe_seq.nextval,#{writer},#{title},#{content},0,sysdate)
	</insert>
	
	<select id="getData1" parameterType="cafeDto"
		resultType="cafeDto">
		SELECT result1.*
		FROM
			(SELECT num, writer, title, content, viewCount, 
			TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate,comm,
			LAG(num, 1, 0) OVER(ORDER BY num DESC) AS prevNum,
			LEAD(num, 1, 0) OVER(ORDER BY num DESC) AS nextNum
			FROM board_cafe
			<choose>
				<when test="title != null and content != null">
					WHERE title LIKE '%'||#{title}||'%' OR
					content  LIKE '%'||#{content}||'%'
				</when>
				<when test="title != null">
					WHERE title LIKE '%'||#{title}||'%'
				</when>
				<when test="writer != null">
					WHERE writer LIKE '%'||#{writer}||'%'
				</when>
			</choose>
			ORDER BY num DESC) result1
		WHERE num=#{num }
	</select>
	
	<select id="getData2" parameterType="int"
		resultType="cafeDto">
		SELECT result1.*
		FROM
			(SELECT num, writer, title, content, viewCount, 
			TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate,comm,
			LAG(num, 1, 0) OVER(ORDER BY num DESC) AS prevNum,
			LEAD(num, 1, 0) OVER(ORDER BY num DESC) AS nextNum
			FROM board_cafe
			ORDER BY num DESC) result1
		WHERE num=#{num }
	</select>	
	
	<delete id="delete" parameterType="int">
		delete from board_cafe
		where num=#{num}
	</delete>
	
	<update id="update" parameterType="cafeDto">
		update board_cafe 
		set title=#{title},content=#{content}
		where num=#{num}
	</update>
	
	<update id="commupdate" parameterType="cafeDto">
		update board_cafe 
		set comm=#{comm}
		where num=#{num}
	</update>
	
	<update id="addViewCount" parameterType="int">
		update board_cafe
		set viewCount=viewCount+1
		where num=#{num}
	</update>
</mapper>